.card {
  background-color: var(--menu-background);
  width: 600px;
  height: 600px;
  font-size: 1.4rem;
  color: var(--menu-font-color);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  &.active {
    opacity: 1;
  }
}
.line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  display: flex;
  &:first-child {
    margin-top: 50px;
  } 
}
.titles {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 70px;
}
.info {
  font-size: 1.8rem;
  margin-left: 20px;
}